
html, body {

	
	
 }
body {
 background-color: black;
	background-image: url(crsAsset.png);
	background-repeat: no-repeat;
	background-size: cover;
 font-family: "Special Elite"; 
 font-size: 80%;
 color: #f2dfc4 ;
 text-align: justify;


		}
#cadre {
	display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */

	
	
}
#titre{
	object-position: center;
  margin-left: auto;
  margin-right: auto;
	margin-top: 5%;
  width: 300px;
	
}
#resume{

  font-size: 100%;
  font-family: "Special Elite";
  color: #f2dfc4;
  line-height: 1.2;
  text-align: justify;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#logos {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#logoplay {
	position: relative;
	width: 70px;
    margin-left: 10%;
    margin-right: auto;
    top: 20px;
	text-align: left

}
#logoapp {
	position: relative;
width: 70px;
    margin-left: auto;
    margin-right: 10%;
    top: 20px;
    bottom: 0;
	object-position: center;
	text-align: right


	
}
#contact {
  font-size: 130%;
  font-family: "Special Elite";
  color: #f2dfc4;
  line-height: 1.2;
  text-align: center;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
	margin-top: 20px;
	margin-bottom: 5%;
  width: 300px;
	
}


